<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key="Database" value="Data Source=192.168.20.100;Initial Catalog=I200;Persist Security Info=True;User ID=sa;Password=Yuanbei123456"/>
		<add key="Elasticsearch" value="http://192.168.20.100:9200"/>
	</appSettings>
</configuration>